:root {
    --red: #e50914;
    --black: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black); 
    font-family: 'Times New Roman', Times, serif;
    color: white
}

/*HEADER CONTAINER CONTENT*/

header #container {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 16px;

    transition: all 0.2s;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

/*LEFT MENU HEADER CONTAINER*/

header .left-menu {
    margin: 10px 0 0 50px;
    display: flex;
    align-items: center;
}

header .left-menu .logo-desktop {
    height: 40px;
    margin-right: 40px;
}

header .left-menu .logo-mobile {
    display: none;
}

header .left-menu nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    transition: 0.1s;
}

header .left-menu nav a:hover {
    color: #c4c4c3;
}

/*RIGHT MENU HEADER CONTAINER*/

header .right-menu {
    margin: 10px 50px 0 0;
}

header .right-menu a img {
    height: 24px;
    margin-left: 20px;
    transition: 0.1s;
}

header .right-menu a img:hover {
    opacity: 0.6;
}

header .right-menu i {
    font-size: 24px;
    color: #fff
}

/*Main Banner*/

.banner-main {
    position: absolute;
}

.banner-container {
    margin-left: 50px;
}

.main-movie {
    font-size: 22px;
    -webkit-mask-image: linear-gradient(to top, transparent 1%, black 20%);
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('/Img/Thumbnails/poster1.jpg');
    height: 100vh;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .movie-description {
    margin-bottom: 40px;
}

.movie-title {
    height: 90px;
    margin-bottom: 30px;
}

.main-button {
    background-color: #fff;
    border: none;
    border-radius: 2%;
    margin-right: 2%;
    color: #000;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;

    padding: 15px 30px;

    cursor: pointer;
    transition: 0.2s ease all;
}

.secondary-button {
    background-color: rgba(123, 123, 123, 0.4);
    border: none;
    border-radius: 2%;
    color: #fff;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;

    padding: 15px 30px;

    cursor: pointer;
    transition: 0.2s ease all;
}

.main-button:hover {
    background: rgba(255, 255, 255, 0.6);
}

.secondary-button:hover {
    background-color: rgba(123, 123, 123, 0.2);
}

.buttons i {
    margin-right: 8px;
}

.carousel-container {
    height: 100%;
    width: 100%;
    margin-top: -70px;
    margin-bottom: 100px;
    padding: 0 50px;
    display: block;
}

.carousel-container .carousel-title {
    margin: 0 0 15px 0;
    font-size: 12px;
}

@media(max-width: 836px) {
    header {
        display: flex;
    }

    header #container {
        padding: 2px 0 12px 0;
    }

    header .logo-desktop {
        display: none;
    }

    header .left-menu .logo-mobile {
        display: inline;
        
        height: 35px;
        margin-left: 10px;
        margin-right: 40px;
    }

    .left-menu nav a {
        font-size: 14px;
    }

    .main-movie {
        background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('/Img/Thumbnails/mobile-poster1.jpg');
        background-size: cover;
    }

    .movie-title {
        height: 70px;
        margin: 30px 0;
    }
}
