@media(max-width: 656px) {
    #container {
        height: 73px;
    }

    .left-menu {
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-menu .nav-wrapper {
        /* position: absolute;
        top: 73px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        justify-content: space-between; */
        padding-left: 20px;
        display: flex;
        align-items: center;
    }

    .left-menu .nav-wrapper nav {
        display: flex;
        justify-content: center;
    }

    .left-menu .nav-wrapper nav a {
        margin-right: 1rem;
    }
    

    .left-menu nav a[href="#minha-lista"] {
        display: inline-block;
    }

    .left-menu nav a[href="#home"], a[href="#documentarios"]{
        display: none;
    }

    .logo-mobile {
        position: absolute;
        margin: 0;
        left: 1.25rem;
        top: 1.25rem
    }
    

    .right-menu {
        position: absolute;
        right: -1.25rem;
        top: 1rem
    }

    .right-menu nav a img {
        margin-left: 0.625rem;
    }

    .right-menu nav a img[alt="Gifts"], img[alt="Notifications"] {
        display: none;
    }


    /* Banner Main */

    .main-movie .banner-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start
    }

    .main-movie .banner-container .movie-title {
        height: 90%;
        width:80%;
        height:auto;
        overflow: hidden;
    }

    .main-movie .movie-description {
        padding: 0 1.25rem;
        font-size: 16px;
        overflow-wrap: break-word;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .add-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        border: none;
        background: none;
        height: 50px;
        width: 40px;

        color: #fff;


    }

    .add-button i {
        margin-bottom: 5px;
    }

    .add-button p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 10px;
    }

    .main-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        margin-right: 30px;
        
        padding: 5px 15px;
        height: 30px;

    }

    .secondary-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        border: none;
        background: none;
        height: 50px;
        width: 90px;
        padding: 0;

        color: #fff;
    }

    .secondary-button i {
        margin-bottom: 5px;
    }

    .secondary-button p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 10px;
    }



    .content-wrapper .carousel-container {
        padding: 0 1.25rem;
    }
}
